* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: gainsboro;
}

.flexPadre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexHijo {
  margin: 1rem;
}

.index__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin: 3rem 0rem;
}

.extra__grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.otrosServicios__grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 5rem;
  margin-bottom: 3rem;
}

.curiosidades__grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  row-gap: 5rem;
  margin-bottom: 3rem;
}

/* ------------------ NAV ------------------ */
nav {
  padding: 3rem;
}

nav img {
  width: 8rem;
  margin-left: 2rem;
}

nav ul {
  padding: 0.5rem;
  list-style: none;
}

nav ul li {
  list-style-type: none;
  padding: 0.5rem 2rem;
  border-radius: 3rem;
}

nav ul li a {
  text-decoration: none;
}

nav ul li #activoNgr {
  color: black;
}

nav ul .activo {
  font-weight: bold;
  background-color: #F5DEB3;
}

/* ------------------ MAIN ------------------ */
h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  color: #6A252F;
  border-bottom: solid #495057;
}

.info {
  padding: 2rem 6rem;
}

.info .info__titulo {
  text-align: center;
  font-size: 3rem;
}

.info .info__titulo--primary {
  font-weight: bold;
  margin: 3rem 0rem;
  color: #3e5e04;
}

.info .info__titulo--secondary {
  font-weight: bold;
  margin: 1rem 0rem;
  padding: 1rem;
  color: black;
}

.info .info__texto {
  margin: 1rem 0rem;
  padding: 1rem;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}

.info .info__boton {
  padding: 1rem 2rem;
  font-size: 2.5rem;
  margin: 2rem;
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
  background-color: #F5DEB3;
}

.info .info__boton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info .info__lista {
  font-style: italic;
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
}

.info .info__link {
  text-decoration: none;
  color: black;
}

.info .info__img {
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.info .info__img--primary {
  width: 90%;
  margin: 2rem;
}

.info .info__img--secondary {
  color: black;
  width: 90%;
  margin: 1rem;
}

.info .info__img--secondary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info .info__img--terciary {
  width: 75%;
  margin: 2rem;
}

.extra {
  padding: 3rem 6rem;
  background-image: url("../imagenes/fondo-negro.webp");
  background-size: contain;
}

.extra .extra__titulo {
  font-size: 3rem;
  padding: 1rem;
  color: #F5DEB3;
}

.extra .extra__img {
  border-radius: 3rem;
  padding: 1.5rem;
  margin: 1rem 0rem;
  width: 95%;
  -webkit-filter: grayscale(75%);
          filter: grayscale(75%);
}

.extra .extra__img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* ------------------ FOOTER ------------------ */
footer {
  margin-top: 2rem;
  background-color: black;
  border-top: solid;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

footer h4 {
  font-weight: bold;
  color: #495057;
}

footer p {
  color: #495057;
}

footer ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

footer ul li {
  list-style-type: none;
  margin: 1rem 0rem;
}

footer ul li img {
  padding: 1rem;
  width: 50%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

footer ul li img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

@media only screen and (min-width: 768px) {
  .info .info__texto {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .info .info__img--primary {
    height: 50%;
  }
  .index__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 3rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .extra__grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .otrosServicios__grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #agua {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #agua-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #fuego {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #fuego-texto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #aire {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #aire-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  #tierra {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #tierra-texto {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .curiosidades__grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
  }
  #trazoFino {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #trazoFino-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #trazoMedioNegro {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #trazoMedioNegro-texto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #trazoMedioAzul {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #trazoMedioAzul-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  #trazoLapiz {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #trazoLapiz-texto {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  #trazoMarcador {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  #trazoMarcador-texto {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  footer ul li img {
    width: 35%;
  }
}

@media only screen and (min-width: 1024px) {
  .info .info__texto {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .info .info__img--primary {
    height: 75%;
  }
  .info .info__img--terciary {
    width: 55%;
  }
  .flexPadre {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 5rem;
  }
  .extra__grid {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
    -ms-grid-rows: 100%;
        grid-template-rows: 100%;
  }
  .otrosServicios__grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #agua {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #agua-texto {
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #fuego {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #fuego-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #aire {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #aire-texto {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #tierra {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  #tierra-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .curiosidades__grid {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
  }
  #trazoFino {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #trazoFino-texto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #trazoMedioNegro {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #trazoMedioNegro-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #trazoMedioAzul {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #trazoMedioAzul-texto {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #trazoLapiz {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  #trazoLapiz-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  #trazoMarcador {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  #trazoMarcador-texto {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  footer ul li img {
    width: 25%;
  }
}
/*# sourceMappingURL=styles.css.map */