#losElementos {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

#agua {
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

#fuego {
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

#aire {
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

#tierra {
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: gainsboro;
}

/* ------------------ NAV ------------------ */
nav {
  padding: 3rem;
}

nav img {
  width: 8rem;
  margin-left: 2rem;
}

nav ul {
  padding: 0.5rem;
  list-style: none;
}

nav ul li {
  list-style-type: none;
  padding: 0.5rem 2rem;
  border-radius: 50px;
}

nav ul li a {
  text-decoration: none;
}

nav ul li #activoNgr {
  color: black;
}

nav ul .activo {
  background-color: #F5DEB3;
  font-weight: bold;
}

/* ------------------ MAIN ------------------ */
.info {
  padding: 2rem;
  margin-bottom: 2rem;
}

.info .info__titulo {
  text-decoration: underline;
  text-align: center;
}

.info .info__titulo--primary {
  font-size: 4rem;
  margin: 1rem;
  padding: 1rem;
  color: #6A252F;
  font-weight: bold;
}

.info .info__titulo--secondary {
  font-size: 3rem;
  color: #6A252F;
}

.info .info__texto {
  padding: 1rem;
  margin: 1rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
}

.info .info__lista {
  font-size: 1.5rem;
  line-height: 2rem;
}

.info .info__link {
  text-decoration: none;
  color: black;
}

.info .info__link:hover {
  color: red;
}

.info .info__img {
  border-radius: 3rem;
  -webkit-box-shadow: 5px 5px 10px;
          box-shadow: 5px 5px 10px;
}

.info .info__img--primary {
  width: 100%;
  margin-top: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.info .info__img--secondary {
  color: black;
  width: 50%;
  margin: 2rem;
}

.info .info__img--secondary:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.info .info__img--terciary {
  width: 50%;
  margin: 1.5rem;
}

.extra {
  margin: 3rem 0rem;
  padding: 2rem;
  background-image: url("../imagenes/Fondo_negro.jpg");
  background-size: contain;
}

.extra .extra__titulo--primary {
  font-size: 3rem;
  padding: 1rem;
  color: #F5DEB3;
}

.extra .extra__img {
  border-radius: 3rem;
  padding: 1rem;
  margin: 2rem 0rem;
  width: 100%;
}

.extra .extra__img--primary {
  width: 95%;
}

.extra .extra__video {
  width: 60%;
  padding: 1rem;
}

/* ------------------ FOOTER ------------------ */
.pie {
  background-color: black;
  border-top: solid;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
}

.pie .pie__titulo {
  font-weight: bold;
  color: #495057;
}

.pie .pie__texto {
  color: #495057;
}

.pie .btn--blanco {
  color: gainsboro;
}

/* ------------------ 404 ------------------ */
.error {
  background-image: url("../imagenes/Enlace_roto.jpg");
  background-size: contain;
}

.error .error_titulo {
  width: 20rem;
  background-color: #F5DEB3;
  color: red;
}

.error .error__texto {
  font-weight: bold;
  background-color: gainsboro;
  font-size: 3rem;
  color: black;
  padding: 2rem;
}

.error .error__link {
  text-decoration: none;
  color: black;
}

.error .error__link:hover {
  color: red;
}

/* ------------------ MAPAS ------------------ */
.btn--facebook {
  background-color: #3a5795;
}

.btn--instagram {
  background-color: #3f729b;
}

.btn--whatsapp {
  background-color: #00bb2d;
}

@media only screen and (min-width: 768px) {
  .info .info__texto {
    font-size: 2.3rem;
  }
  #losElementos {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #agua {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #agua-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #fuego {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #fuego-texto {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #aire {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #aire-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  #tierra {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #tierra-texto {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}

@media only screen and (min-width: 1024px) {
  .info .info__texto {
    font-size: 2rem;
  }
  #losElementos {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #agua {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #agua-texto {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #fuego {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  #fuego-texto {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #aire {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  #aire-texto {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  #tierra {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  #tierra-texto {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
}
/*# sourceMappingURL=styles.css.map */