* { margin: 0; padding: 0;}

html { 
    font-size: 62.5%;
    body { 
        font-family: 'Montserrat', sans-serif; 
        font-size: 1.5rem;
        background-color: $color-claro;
    }
}

$text-uppercase: uppercase;
$text-underline: underline;
$font-bold: bold;
$font-italic: italic;

$height-360: 5rem;
$height-768: 12rem;
$height-1024: 15rem;

/* ------------------ NAV ------------------ */

nav {
    padding: 3rem;
    img {
        width: 8rem;
        margin-left: 2rem;
    }
    ul {
        padding: 0.5rem;
        list-style: none;
        li {
            list-style-type: none;
            padding: 0.5rem 2rem;
            @include bordes;
            a {
                text-decoration: none;
            }
            #activoNgr {
                color: $color-negro;
            }
        }
        .activo {
            background-color: $color-wheat;
            font-weight: $font-bold;
        }
    }
}

/* ------------------ MAIN ------------------ */

.info {
    padding: 2rem;
    margin-bottom: 2rem;
    .info__titulo {
        text-align: center;
    }
    .info__titulo--primary {
        font-size: 4rem;
        margin: 1rem;
        padding-bottom: 1rem;
        color: $color-bordo;
        font-weight: $font-bold;
        border-bottom: solid $color-gris;
    }
    .info__titulo--secondary {
        font-size: 3rem;
        margin: 1rem;
        padding: 1rem;
        color: $color-verde;
<<<<<<< HEAD
        text-decoration: $text-underline;
=======
>>>>>>> c3bf829c936820a4d8a7d5010aad7e108013fbd1
    }
    .info__texto {
        padding: 1rem;
        margin: 1rem;
        font-size: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
    }
    .info__boton {
        margin: 1rem;
        padding: 0.5rem 2rem;
        font-size: 2.5rem;
        @include bordes;
        @include sombras;
        background-color: $color-wheat;
    }
    .info__lista {
<<<<<<< HEAD
        font-size: 2.5rem;
=======
        font-size: 1.5rem;
>>>>>>> c3bf829c936820a4d8a7d5010aad7e108013fbd1
        margin: 0.5rem 1rem;
    }
    .info__link {
        text-decoration: none;
        color: $color-negro;
        &:hover {
            color: $color-bordo;
        }
    }
    .info__img {
        @include bordes;
        @include sombras;
    }
    .info__img--primary {
        width: 100%;
        margin: 3rem;
    }
    .info__img--secondary {
        color: $color-negro;
        width: 65%;
        margin: 2rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    .info__img--terciary {
<<<<<<< HEAD
        width: 75%;
=======
        width: 50%;
>>>>>>> c3bf829c936820a4d8a7d5010aad7e108013fbd1
        margin: 2rem;
    }
}

.extra {
    margin: 1rem 0rem;
    padding: 2rem;
    background-image: 
    url("../imagenes/Fondo_negro.jpg");
    background-size: contain;
    .extra__titulo {
        font-size: 3rem;
        padding: 1rem;
        color: $color-wheat;
    }
    .extra__img {
        @include bordes;
        padding: 1rem;
        margin: 2rem 0rem;
        width: 95%;
        filter: grayscale(75%);
        &:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
    }
    .extra__video {
        width: 60%;
        padding: 1rem;
    }
}

/* ------------------ GRID ------------------ */
<<<<<<< HEAD
.extra__grid {
=======

#losElementos {
>>>>>>> c3bf829c936820a4d8a7d5010aad7e108013fbd1
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

<<<<<<< HEAD
.extra__grid--grande {
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.otrasOpciones__grid {
    display: grid;
    justify-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.curiosidades__grid {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: auto;
=======
#agua {
    @include sombras;
}

#fuego {
    @include sombras;
}

#aire {
    @include sombras;
}

#tierra {
    @include sombras;
>>>>>>> c3bf829c936820a4d8a7d5010aad7e108013fbd1
}

/* ------------------ FOOTER ------------------ */

.pie {
    margin-top: 2rem;
    background-color: $color-negro;
    border-top: solid;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    .pie__titulo {
        font-weight: $font-bold;
        color: $color-gris;
    }
    .pie__texto {
        color: $color-gris;
    }
    .btn--blanco {
        color: $color-claro;
    }
}

/* ------------------ 404 ------------------ */

.error {
    background-image: 
    url("../imagenes/Enlace_roto.jpg");
    background-size: contain;
    .error_titulo {
        width: 20rem;
        background-color: $color-wheat;
        color: $color-bordo;
    }
    .error__texto {
        font-weight: $font-bold;
        background-color: $color-claro;
        font-size: 3rem;
        color: $color-negro;
        padding: 2rem;
    }
    .error__link {
        text-decoration: none;
        color: $color-negro;
        &:hover {
            color: $color-bordo;
        }
    }
}

/* ------------------ MAPAS ------------------ */

$redes: (
    facebook: #3a5795,
    instagram: #3f729b,
    whatsapp: #00bb2d,
);

@each $red, $color in $redes {
    .btn--#{$red} {
        background-color: $color;
    }
}