/* ------------------ NAV ------------------ */

nav {
    padding: 3rem;
    img {
        width: 8rem;
        margin-left: 2rem;
    }
    ul {
        padding: 0.5rem;
        list-style: none;
        li {
            list-style-type: none;
            padding: 0.5rem 2rem;
            @include bordes;
            a {
                text-decoration: none;
            }
            #activoNgr {
                color: $color-negro;
            }
        }
        .activo {
            @include negrita;
            background-color: $color-wheat;
        }
    }
}

/* ------------------ MAIN ------------------ */

h1 {
    text-align: center;
    font-size: 4rem;
    @include negrita;
    margin: 1rem;
    padding: 1rem;
    text-transform: $mayuscula;
    color: $color-bordo;
    border-bottom: solid $color-gris;
}

.info {
    padding: 2rem 6rem;
    .info__titulo {
        text-align: center;
        font-size: 3rem;
    }
    .info__titulo--primary {
        @include negrita;
        margin: 3rem 0rem;
        color: $color-verde;
    }
    .info__titulo--secondary {
        @include negrita;
        @include margenes;
        padding: 1rem;
        color: $color-negro;
    }
    .info__texto {
        @include margenes;
        padding: 1rem;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }
    .info__boton {
        padding: 1rem 2rem;
        font-size: 2.5rem;
        margin: 2rem;
        @include bordes;
        @include sombras;
        background-color: $color-wheat;
        &:hover {
            transform: scale(1.1);
        }
    }
    .info__lista {
        @include italica;
    }
    .info__link {
        text-decoration: none;
        color: $color-negro;
    }
    .info__img {
        @include bordes;
        @include sombras;
    }
    .info__img--primary {
        width: 90%;
        margin: 2rem;
    }
    .info__img--secondary {
        color: $color-negro;
        width: 90%;
        margin: 1rem;
        &:hover {
            transform: scale(1.1);
        }
    }
    .info__img--terciary {
        width: 75%;
        margin: 2rem;
    }
}

.extra {
    padding: 3rem 6rem;
    background-image: 
    url("../imagenes/fondo-negro.webp");
    background-size: contain;
    .extra__titulo {
        font-size: 3rem;
        padding: 1rem;
        color: $color-wheat;
    }
    .extra__img {
        @include bordes;
        padding: 1.5rem;
        @include margenes;
        width: 95%;
        filter: grayscale(75%);
        &:hover {
            filter: grayscale(0%);
            transform: scale(1.1);
        }
    }
}

/* ------------------ FOOTER ------------------ */

footer {
    margin-top: 2rem;
    background-color: $color-negro;
    border-top: solid;
    text-align: center;
    padding: 2rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    h4 {
        @include negrita;
        color: $color-gris;
    }
    p {
        color: $color-gris;
    }
    ul {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li {
            list-style-type: none;
            @include margenes;
            img {
                padding: 1rem;
                width: 50%;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0%);
                }
            }
        }
    }
}