@mixin sombras {
    box-shadow: 5px 5px 10px;
}

@mixin bordes {
    border-radius: 3rem;
}

@mixin negrita {
    font-weight: bold;
}

@mixin italica {
    font-style: italic;
}

@mixin margenes {
    margin: 1rem 0rem;
}