
// ----------------- SCREEN 768PX -----------------

@media only screen and (min-width: 768px) {
    .info {
        .info__texto {
            font-size: 2.3rem;
        }
    }
    #losElementos {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
    }
    #agua {
        order: 1;
    }
    #agua-texto {
        order: 3;
    }
    #fuego {
        order: 2;
    }
    #fuego-texto {
        order: 4;
    }
    #aire {
        order: 5;
    }
    #aire-texto {
        order: 7;
    }
    #tierra {
        order: 6;
    }
    #tierra-texto {
        order: 8;
    }
}

// ----------------- SCREEN 1024PX -----------------

@media only screen and (min-width: 1024px) {
    .info {
        .info__texto {
            font-size: 2rem;
        }
    }
    #losElementos {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        align-items: center;
    }
    #agua {
        justify-self: center;
        order: 2;
    }
    #agua-texto {
        order: 1;
    }
    #fuego {
        justify-self: center;
        order: 4;
    }
    #fuego-texto {
        order: 3;
    }
    #aire {
        justify-self: center;
        order: 6;
    }
    #aire-texto {
        order: 5;
    }
    #tierra {
        justify-self: center;
        order: 8;
    }
    #tierra-texto {
        order: 7;
    }
}