// ----------------- SCREEN 768PX -----------------

@media only screen and (min-width: 768px) {
    .info {
        .info__texto {
            font-size: 2.3rem;
            line-height: 3rem;
        }
        .info__img--primary {
            height: 50%;
        }
    }
    .index__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 3rem;
        justify-content: center;
        align-content: center;
    }
    .extra__grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: center;
        align-content: center;
    }
    .otrosServicios__grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
        align-content: center;
    }
    #agua {
        order: 1;
    }
    #agua-texto {
        order: 3;
    }
    #fuego {
        order: 2;
    }
    #fuego-texto {
        order: 4;
    }
    #aire {
        order: 5;
    }
    #aire-texto {
        order: 7;
    }
    #tierra {
        order: 6;
    }
    #tierra-texto {
        order: 8;
    }
    .curiosidades__grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }
    #trazoFino {
        order: 1;
    }
    #trazoFino-texto {
        order: 3;
    }
    #trazoMedioNegro {
        order: 2;
    }
    #trazoMedioNegro-texto {
        order: 4;
    }
    #trazoMedioAzul {
        order: 5;
    }
    #trazoMedioAzul-texto {
        order: 7;
    }
    #trazoLapiz {
        order: 6;
    }
    #trazoLapiz-texto {
        order: 8;
    }
    #trazoMarcador {
        justify-self: center;
        order: 10;
    }
    #trazoMarcador-texto {
        order: 9;
    }
    footer {
        ul {
            li {
                img {
                    width: 35%;
                }
            }
        }
    }
}

// ----------------- SCREEN 1024PX -----------------

@media only screen and (min-width: 1024px) {
    .info {
        .info__texto {
            font-size: 2rem;
            line-height: 2.5rem;
        }
        .info__img--primary {
            height: 75%;
        }
        .info__img--terciary {
            width: 55%;
        }
    }
    .flexPadre {
        flex-flow: row nowrap;
        justify-content: center;
    }
    .index__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        gap: 5rem;
    }
    .extra__grid {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 100%;
    }
    .otrosServicios__grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
        align-content: center;
    }
    #agua {
        order: 2;
    }
    #agua-texto {
        justify-self: start;
        order: 1;
    }
    #fuego {
        order: 4;
    }
    #fuego-texto {
        order: 3;
    }
    #aire {
        order: 6;
    }
    #aire-texto {
        order: 5;
    }
    #tierra {
        order: 8;
    }
    #tierra-texto {
        order: 7;
    }
    .curiosidades__grid {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto;
    }
    #trazoFino {
        order: 2;
    }
    #trazoFino-texto {
        order: 1;
    }
    #trazoMedioNegro {
        order: 4;
    }
    #trazoMedioNegro-texto {
        order: 3;
    }
    #trazoMedioAzul {
        order: 6;
    }
    #trazoMedioAzul-texto {
        order: 5;
    }
    #trazoLapiz {
        order: 8;
    }
    #trazoLapiz-texto {
        order: 7;
    }
    #trazoMarcador {
        order: 10;
    }
    #trazoMarcador-texto {
        order: 9;
    }
    footer {
        ul {
            li {
                img {
                    width: 25%;
                }
            }
        }
    }
}